html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}
.app-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 230px;
  background-color: #1f2937;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  overflow-y: auto;
}

.content {
  margin-left: 230px;
  width: calc(100% - 230px);
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  background: #f9fafb;
}
